

/* Global button styling */
.button-info {
    background: linear-gradient(135deg, #45a9fc, #163b5e);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

.button-info:hover {
    background: linear-gradient(135deg, #3f82b9, #094074);
    color: #b9b9b9;
}

.button-danger {
    background: linear-gradient(135deg, #b8576d, #94220e);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-danger:hover {
    background: linear-gradient(135deg, #c54730, #5a1004);
    color: #b9b9b9;
}

.button-success {
    background: linear-gradient(135deg, #4caf50, #2e7d32);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-success:hover {
    background: linear-gradient(135deg, #48b84b, #0f5c14);
    color: #b9b9b9;
}

.button-warning {
    background: linear-gradient(135deg, #ff9800, #f57c00);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-warning:hover {
    background: linear-gradient(135deg, #ffba4b, #d66c02);
    color: #b9b9b9;
}
/* End Global button styling */