

/* Global button styling */
.button-info {
    background: linear-gradient(135deg, #45a9fc, #163b5e);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

.button-info:hover {
    background: linear-gradient(135deg, #3f82b9, #094074);
    color: #b9b9b9;
}

.button-danger {
    background: linear-gradient(135deg, #b8576d, #94220e);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-danger:hover {
    background: linear-gradient(135deg, #c54730, #5a1004);
    color: #b9b9b9;
}

.button-success {
    background: linear-gradient(135deg, #4caf50, #2e7d32);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-success:hover {
    background: linear-gradient(135deg, #48b84b, #0f5c14);
    color: #b9b9b9;
}

.button-warning {
    background: linear-gradient(135deg, #ff9800, #f57c00);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-warning:hover {
    background: linear-gradient(135deg, #ffba4b, #d66c02);
    color: #b9b9b9;
}
/* End Global button styling */

.text-muted {
    font-size: 12px;
    color: #6c757d;
    font-family: cursive;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(135deg, #27253f, #605a6d);
  color: #fff;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

 th {
  background: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}