

/* Global button styling */
.button-info {
    background: linear-gradient(135deg, #45a9fc, #163b5e);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

.button-info:hover {
    background: linear-gradient(135deg, #3f82b9, #094074);
    color: #b9b9b9;
}

.button-danger {
    background: linear-gradient(135deg, #b8576d, #94220e);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-danger:hover {
    background: linear-gradient(135deg, #c54730, #5a1004);
    color: #b9b9b9;
}

.button-success {
    background: linear-gradient(135deg, #4caf50, #2e7d32);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-success:hover {
    background: linear-gradient(135deg, #48b84b, #0f5c14);
    color: #b9b9b9;
}

.button-warning {
    background: linear-gradient(135deg, #ff9800, #f57c00);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}
.button-warning:hover {
    background: linear-gradient(135deg, #ffba4b, #d66c02);
    color: #b9b9b9;
}
/* End Global button styling */

.text-muted {
    font-size: 12px;
    color: #6c757d;
    font-family: cursive;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: linear-gradient(135deg, #27253f, #605a6d);
  color: #fff;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

 th {
  background: rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

/* Progress bar */
/* Top loading bar container */
.app-loading-bar {
  display: none;
  position: fixed; /* stays at top */
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; /* thin line */
  overflow: hidden;
  z-index: 9999; /* above everything */
  background: transparent;
}

/* Animated gradient glow line */
.app-loading-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%; /* start outside screen for sliding effect */
  width: 50%; /* width of the moving gradient */
  height: 100%;
  background: linear-gradient(
    90deg,
    #2d3561,
    #c43e6b,
    #f3826f,
    #ffb961
  );
  animation: loadingProgress 2s linear infinite;
  filter: drop-shadow(0 0 10px #2d3561)
          drop-shadow(0 0 15px #c05c7e)
          drop-shadow(0 0 20px #be786b)
          drop-shadow(0 0 25px #ffb961);
}

/* Animation: slide gradient across the top */
@keyframes loadingProgress {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
